/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500;600;700&display=swap');
@import url(../css/pages/main/main-header.css);
@import url(../css/pages/main/car-for-sales.css);
@import url(../css/pages/main/vehicle-search.css);
@import url(../css/pages/main/latest-arrivals.css);
@import url(../css/pages/main/footer.css);


.container {
    max-width: 1170px;
    margin: 0 auto;
}

body {
    background: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Fira Sans;
    font-weight: normal;
    margin-bottom: 30px;
}

.title h2 {
    color: #333333;
    font-size: 40px;
    font-weight: normal;
}

.title a {
    display: flex;
    align-items: center;
    padding: 0 0 3px 0;
    box-sizing: border-box;
    color: #cc0000;
}

.title a img {
    margin-left: 10px;
}

.title a:hover {
    border-bottom: 1px solid #CD0000;
    text-decoration: none;
    padding: 0 0 2px 0;
}

.slide-nav-container {
    display: none;
    justify-content: center;
    margin-top: 10px;
}
.right-btn, .left-btn, .counter{
    background: #F4F4F4;
    width: 80px;
    height: 32px;
    border-bottom: 2px solid #CD0000;
    cursor: pointer;
}
.counter {
    margin-right: 30px;
    margin-left: 30px;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-btn{
    background: url(../img/left_arrow.png) no-repeat,#F4F4F4;
    background-position: center center;
}

.left-btn{
    background: url(../img/right-arrow.png) no-repeat,#F4F4F4;
    background-position: center center;
}

@media (max-width: 425px) {
    .title{
        margin-bottom: 16px;
    }
    .title h2 {
        color: #333333;
        font-size: 20px;
        font-weight: normal;
    }
    .title a {
        font-size: 14px;
    }
    .slide-nav-container{
        display: flex;
    }
}

@media (max-width: 1275px) {
      .container {
        padding: 0px 5px;
    }
}
