/*First Row*/
.product-card {}

.product-card .container {}

.product-card .title {
    margin-top: 27px;
}

.product-card .title h2 {
    font-weight: 500;
}

.product-card .title h2 span {
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.product-card .first-row-container {
    display: flex;
    flex-wrap: wrap;
}

.product-card .slider-container {
    max-width: 720px;
    margin-right: 30px;
}

.product-card .slider-container img {}

.product-card .switch-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 3px;
}

.product-card .switch-container img {
    margin-right: 3px;
    width: 170px;
    height: 120px;
    margin-top: 3px;
}

.product-card .info-with-price-container {
    border-radius: 5px;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1), 0px -3px 7px 0 rgba(0, 0, 0, 0.1);
    width: 420px;
    padding: 25px 0 0 0;
    box-sizing: border-box;
    /*    height: 600px;*/
}

.product-card .price {
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: bold;
    color: #cc0000;
    text-align: center;
}

.product-card .under-price {
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    text-align: center;
    margin-top: 10px;
}

.product-card .text-container {
    border-top: 1px solid #C9CDCE;
    padding: 0 30px;
    margin-top: 21px;
    font-family: Fira Sans;
    font-size: 16px;
    color: #333333;
    line-height: 51px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.product-card .text-container__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C9CDCE;

}

.product-card .text-container__item:last-child {
    border: none;
}

/*First Row*/

/*Second Row*/
.second-row-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-top: 30px;
    margin-bottom: 36px;
}

.second-row-container .features-container {
    border-radius: 5px;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1), 0px -3px 7px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.second-row-container .second-row-container-title {
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: normal;
    color: #333333;
}

.second-row-container .features-body {
    border-top: 1px solid #C9CDCE;
    margin-top: 20px;
    padding-top: 20px;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: normal;
    line-height: 2.14;
    color: #333333;
    display: flex;
    margin-bottom: 38px;
}

.second-row-container .features-body__column {
    margin-right: 160px;
}

.second-row-container .features-body__column:last-child {
    margin-right: 119px;
}

.second-row-container p {}

.second-row-container .contacting-container {
    display: flex;
    flex-direction: column;
}

.second-row-container .contacts-seller {
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1), 0px -3px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 30px 0 30px;
}

.second-row-container .name-geo {
    text-align: center;
    border-bottom: 1px solid #C9CDCE;
    padding-bottom: 26px;
}

.second-row-container .numbers-container {
    padding: 20px 30px 15px;
    border-bottom: 1px solid #C9CDCE;
}

.second-row-container .numbers-container__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C9CDCE;
}

.second-row-container .numbers-container__item:last-child {
    border: none;
}

.second-row-container .numbers-container__item a {
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: normal;
    color: #333333;
}

.second-row-container .when-to-call {
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.57;
    letter-spacing: normal;
    text-align: right;
    color: #333333;
}

.second-row-container .info-date-posting-cotainer {
    text-align: center;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.14;
    color: #333333;
    margin-top: 28px;
}

.second-row-container .date-of-posting {}

.second-row-container .date-of-posting span {
    font-weight: normal;
}

.second-row-container .shelf-life {
    font-weight: 500;
}

.second-row-container .shelf-life span {
    font-weight: normal;
}

.second-row-container .advice-container {
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1), 0px -3px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 35px 73px;
    text-align: center;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.5;
    color: #333333;
}

.vehicle-description-container {}

.vehicle-description-container .second-row-container-title {
    margin-bottom: 16px;
}

.vehicle-description-container .vehicle-description__text {
    padding-top: 16px;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: normal;
    line-height: 2.14;
    color: #333333;
    border-top: 1px solid #C9CDCE;
    max-width: 653px;
}

/*Second Row*/

@media (max-width:1200px) {
    .second-row-container .features-body__column:last-child {
        margin-right: 0px;
        display: none;
    }

    .second-row-container .features-body__column {
        margin-right: 0px;
    }

    .first-row-container {
        flex-direction: column;
        align-content: center;
        padding: 0 5px;
    }

    .second-row-container {
        flex-direction: column-reverse;
        align-content: center;
        padding: 0 5px;
        margin-top: 20px;
    }

    .product-card .slider-container {
        width: 100%;
        margin: 0 auto;
    }

    .product-card .info-with-price-container {
        width: 100%;
        margin: 20px auto 0px;
    }

    .product-card .slider-container img {
        width: 100%;
        margin: 3px auto;
    }

    .product-card .switch-container img {
        width: 87px;
        height: 73px;
    }

    .product-card .title h2,
    .product-card .title h2 span {
        font-size: 20px;
    }

    .product-card .text-container {
        font-size: 14px;
        padding: 0px 10px;
    }

    .second-row-container .contacts-seller {
        width: 100%;
        margin: 0 auto;
    }

    .second-row-container .numbers-container {
        padding: 0 7px;
    }

    .second-row-container .when-to-call {
        font-size: 12px;
    }

    .second-row-container .advice-container {
        font-size: 14px;
        padding: 28px 23px;
        margin-top: 20px;
    }

    .second-row-container .features-container {
        padding: 30px;
        margin-top: 20px;
        width: 100%;
        box-sizing: border-box;
    }
}
