.vehicle-search .container {
    margin-bottom: 46px;
}

.vehicle-search .vehicle-search__container {
    display: flex;
    flex-wrap: wrap;
}

.vehicle-search .vehicle-search__container .filtr-item .small {
    width: 90px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 160px;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    height: 50px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px #333333;
    background: url(../../../img/select-bg.png) no-repeat;
    background-position: center right 15px;
}

.vehicle-search .filtr-item {
    margin: 0 10px 10px;
}


.vehicle-search .filtr-item:first-child,
.vehicle-search .filtr-item:nth-child(8) {
    margin: 0 10px 10px 0px;
}

.vehicle-search .filtr-item:nth-child(7),
.vehicle-search .filtr-item:nth-child(13) {
    margin: 0 0 0 10px;
}

.vehicle-search button {
    width: 340px;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #CD0000;
    border: none;
    border-radius: 5px;
    height: 50px;
}

.vehicle-search button:hover{
    background:  #8f0000;
}


@media (max-width:1200px) {

   

    .vehicle-search .vehicle-search__container {
        justify-content: space-between;

    }

    select,
    .vehicle-search .vehicle-search__container .filtr-item .small {
        width: 100%;
    }

    .vehicle-search .filtr-item {
        margin: 0 0 10px;
        width: 49%;
    }

    .vehicle-search button {
        width: 100%;
        margin: 0 auto;
    }

    .vehicle-search .filtr-item:first-child,
    .vehicle-search .filtr-item:nth-child(8) {
        margin: 0 0 10px;
    }

    .vehicle-search .filtr-item:nth-child(7),
    .vehicle-search .filtr-item:nth-child(13) {
        margin: 0 0 10px;
    }
    
    .vehicle-search .filtr-item:last-child{
width: 100%;}
     .search-center {
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width:320px){
     .vehicle-search .filtr-item {
        margin: 0 0 10px;
        width: 100%;
    }
}