.vehicle-search {
    
}
.vehicle-search .container {
}
.vehicle-search .title {
}
.vehicle-search h2 {
}
.vehicle-search a {
}
.vehicle-search img {
}
.vehicle-search .vehicle-search__container {
    display: flex;
    flex-wrap: wrap;
}
.vehicle-search .vehicle-search__container .filtr-item .big{
  
}

.vehicle-search .vehicle-search__container .filtr-item .small{
    width: 90px;
}


select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    width: 160px;

}

select:first-child{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    width: 160px;
   
}

.vehicle-search .filtr-item {
    margin: 0 10px 10px ;
}


.vehicle-search .filtr-item:first-child,.vehicle-search .filtr-item:nth-child(8){
    margin: 0 10px 10px 0px;
}

.vehicle-search .filtr-item:nth-child(7),.vehicle-search .filtr-item:nth-child(13){
     margin: 0 0 0 10px;
}

.vehicle-search option {
}
.vehicle-search button {
    display: inline-block;
    width: 340px;
}